/* CTA SELEZIONA I TUOI OMAGGI */
/*Nota: a livello HTML la scritta Seleziona i tuoi omaggi va inserita tutta dentro l'elemento <a>*/
.ampromo-items-add {
    margin-bottom: 12px;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'FreightSansPro';
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-flex;
    height: 36px;
    font-size: 1.4rem;
    color: #b5161a;
    border: 2px solid #e7e7e7;
    background: #fbfbfb;
    font-weight: 600;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    line-height: 1.6rem;
    transition: all .3s ease;
}
.ampromo-items-add>a {
    text-decoration: none;
    border-bottom: none !important;
}
.ampromo-items-add>a::after{
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 8px;
    background: url(../images/icons/arrow-oblique-red.svg) no-repeat center center;
    background-size: cover;
}
/* CARDS */
.ampromo-popup-wrapper.ampromo-popup-compact .ampromo-title {
    font-size: 2rem;
    color: black;
    font-weight: 700;
}
.ampromo-item-buttons{
    display: grid;
    justify-content: center;
}
.ampromo-item{
  border: none !important;
}
