/* CTA SELEZIONA I TUOI OMAGGI */
.ampromo-items-add {
    margin-bottom: 12px;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: 'FreightSansPro';
    text-transform: uppercase;
    border-radius: 4px;
    display: flex !important;
    height: 36px;
    font-size: 1.4rem;
    color: #b5161a;
    border: 2px solid #e7e7e7;
    background: #fbfbfb;
    font-weight: 600;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    line-height: 1.6rem;
    transition: all .3s ease;
}
.ampromo-items-add>a {
    text-decoration: none;
    border-bottom: none !important;
}
.ampromo-items-add>a::after{
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 8px;
    background: url(https://mcprod.erickson.it/static/version1712680773/frontend/Erickson/theme/it_IT/images/icons/arrow-oblique-red.svg) no-repeat center center;
    background-size: cover;
}
/* CARDS */
.ampromo-popup-wrapper.ampromo-popup-compact .ampromo-title {
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}
.ampromo-item-buttons{
    display: grid !important;
    justify-content: center !important;
}
.ampromo-item{
  border-radius: 12px !important;
}
.ampromo-popup-wrapper.ampromo-popup-compact h2 {
    text-align: center;
}
.product-info-price .price-base-price span, .product-info-price .price-new-price span {
    font-size: 1.2rem !important;
}
.product-info-price {
    line-height: 0 !important;
}
